body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('270774_blur-blurred-background-hd-wallpapers-jpg_1920x1280_h.jpg');
}
